<!DOCTYPE HTML>
<html lang="en-US">
<head>
  <meta charset="UTF-8">
  <title><%= @title %> - <%= @subtitle %></title>
  <link href="/css/style.css" rel="stylesheet" />
  <meta name="author" content="<%= get_author_name %>">
  <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no" />
  <meta name="HandheldFriendly" content="true" />
</head>
<body>
<div id="container">
<h1><a href ="/"><%= @title %></a></h1>
<%= yield %>
</div>
</body>
</html>