%h2= @post[:title]
%p#date= "posted #{@post[:diff]} on #{@post[:date].strftime("%b %d, %Y at %I:%m %p")}"
.post
  =@post[:html]
%hr
%p
  category:
  %a{:href => "/category/#{@post[:category]}"}= @post[:category].gsub(/\-/,' ')

-if @post[:tags].length > 0
  %p
    tags:
    -@post[:tags].each do |tag|
      %a{:href => "/tag/#{tag}"}= tag.gsub(/\-/,' ')
